NewHTTPSResolver should accept URI Template

See [RFC 8484, Section 3](https://tools.ietf.org/html/rfc8484#section-3).

Care must be taken to resolve the URI template host name on resolver creation, otherwise we might get into a situation where the resolver is asked to resolve itself recursively.