NewHTTPSResolver should accept URI Template

See [RFC 8484, Section 3](https://tools.ietf.org/html/rfc8484#section-3).